*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  outline: none;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 100%;
}

.nav {
  height: 133px;
  left: 0px;
  top: 0px;
  background: #ffffff;
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.16);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav img {
  width: 400px;
  height: 80px;
  margin-left: 63.58px;
  top: 52.54px;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 60px;
  list-style: none;
  text-decoration: none;
  padding-right: 61px;
}

.nav ul li a {
  text-decoration: none;
  position: relative;
}

.nav a:after {
  content: "";
  position: absolute;
  background-color: #000000;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -55px;
}

.nav a:hover:after {
  width: 100%;
}

.topic {
  margin-top: 186px;
  justify-content: center;
}

.title {
  font-weight: 700;
  font-size: 54px;
  text-align: center;
  max-width: 66%;
  margin: auto;
}

.Note {
  margin-top: 32px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  max-width: 44%;
  margin-left: auto;
  margin-right: auto;
}

.img {
  margin-top: 52px;
  width: 100vmax;
}

.author {
  margin: 32px auto 0px auto;
  width: 60%;
  border-top: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.article-img{
  border-radius: 50%;
}

/* share block  */
.share {
  display: flex;
  margin-top: 30px;
  border: 1px solid #eaeaea;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

.social1 {
  padding: 12px 25px;
}

.social2 {
  padding: 12px 25px;
}
.social3{
  display: none;
}

.autthor-infomation {
  margin-top: 24px;
  display: flex;
}

.autthor-infomation img {
  width: 57px;
  height: 57px;
}

.article-info {
  display: flex;
  margin-left: 16px;
  flex-direction: column;
  gap: 8px;
  width: 191px;
}

.article-info span {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.line {
  border: 0.5px solid #eaeaea;
}

.paragraph1 {
  margin: 52px auto 0px auto;
  font-weight: 400;
  font-size: 20px;
  width: 60%;
}

.next-on {
  margin: 57px auto 0px auto;
  font-weight: 700;
  font-size: 32px;
  width: 60%;
}

.paragraph2 {
  margin: 24px auto 0px auto;
  font-weight: 400;
  font-size: 20px;
  width: 60%;
}

.Image1 {
  margin: 52px auto 0px auto;
  width: 70%;
}

.Image1-name {
  margin-top: 12px;
  font-size: 16px;
  line-height: 140%;
  /* or 22px */

  text-align: center;
}

.paragraph3 {
  margin: 52px auto 0px auto;
  font-weight: 400;
  font-size: 20px;
  max-width: 60%;
}

.list {
  font-weight: 400;
  font-size: 20px;
  margin: 52px auto 0px auto;
  max-width: 60%;
}

.lists {
  font-weight: 400;
  font-size: 20px;
  margin: 19px auto 0px auto;
  max-width: 60%;
}

.paragraph4 {
  font-weight: 400;
  font-size: 20px;
  max-width: 640px;
  margin: 52px auto 0px auto;
  max-width: 60%;
}

.paragraph5 {
  font-weight: 400;
  font-size: 20px;
  max-width: 640px;
  margin: 52px auto 0px auto;
  max-width: 60%;
}

.share1 {
  justify-content: center;
  margin: 77px auto 0px auto;
  width: 60%;
  display: flex;
  border: 1px solid #eaeaea;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}

#img1 {
  width: 20px;
}

#img2 {
  width: 22px;
}

.share1 p {
  margin-left: 16px;
  width: 160px;
}

.share-facebook {
  padding: 20px 15% 20px 15%;
}

.share-twitter {
  padding: 20px 15% 20px 15%;
}

.tags {
  margin: 32px auto 0px auto;
  font-size: 16px;
  width: 60%;

  letter-spacing: 0.03em;
}

.artual-detail {
  margin: 34px auto 0px auto;
  width: 60%;
  border-top: 1px dashed #000000;
  display: flex;
}

.artual-img {
  width: 100px;
  height: 100px;
  margin-top: 36px;
}

.artual-infomation {
  margin-top: 24px;
  margin-left: 32px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.05em;
}

.artual-infomation strong {
  font-weight: 700;
}

.read-next {
  margin-top: 132px;
  border-top: 2px solid #000000;
}

.read-next h3 {
  text-align: center;
  margin-top: 73px;
  font-weight: 700;
  font-size: 44px;
}

.articles {
  margin: 27px auto 0px auto;
  max-width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 14px;
  row-gap: 34px;
}
.article {
  height: 284px;
  max-width: 304px;
  display: block;
}
.article-content {
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  margin-top: 20px;
}

.sign-up {
  margin: 114px auto 0px auto;
  border: 1px solid #000000;
  width: 60%;
  border-top: 12px solid black;
}

.sign-up-title {
  margin-top: 62px;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

.suppost {
  margin-top: 18px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}

.form {
  margin-bottom: 59px;
}

#form-text {
  margin: 36px auto 0px 10%;
  height: 54px;
  width: 60%;
  border: 1px solid #000000;
}

button {
  width: 139px;
  height: 54px;
  background-color: #000000;
  color: #ffffff;
  padding-left: 0;
  font-weight: 700;
  font-size: 20px;
  /* identical to box height */

  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.footer {
  background: #000000;
  margin-top: 111px;
}

.footer .link {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 23px;
  padding-left: 37px;
}

#yes {
  font-weight: 800;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ffffff;
}

#not {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-img {
  margin-top: 105.12px;
  text-align: center;
  color: #ffffff;
  font-weight: 900;
  font-size: 50px;
}

.footer-content {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #ffffff;
  max-width: 488px;
  margin: 25.58px auto;
}

.social-network {
  margin-top: 32px;
  display: flex;
  justify-content: center;
  list-style: none;
  gap: 27px;
}

.footer a {
  color: #ffffff;
}

.copyright {
  margin-top: 64px;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 140%;
  /* or 17px */

  text-align: center;

  color: #ffffff;
}

.img-eyes {
  margin: -30px auto 0px auto;
  width: 82px;
  height: 64.29px;
}

.share-res{
  display: none;
  margin: 30px auto 0px auto;
  border: 1px solid #eaeaea;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.08);
  border-radius: 4px;
  width: 60%;
  justify-content: space-around;
}

.nav-icon{
  display: none;
}

@media screen and (max-width: 800px) {
  body{
      min-width: 700px;
  }
  
  .nav a{
      display: none;
  }
  .nav a.nav-icon {
      color: #000000;
      display: block;
  }

  .nav.responsive {position: relative;}
  .nav.responsive .nav-icon {
    position: absolute;
    top: 20px;
    right: 20px;

  }

  .nav.responsive ul{
    display: block;
  }

  .nav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  .author{
      display: block;
  }
  .share{
    width: 100%;
    justify-content: space-around;
  }

  .social3{
    display: block;
    width: 20px;
    height: 20px;
    margin: 12px 25px;
  }

  .Image1{
    width: 100%;
  }

  .share1{
    display: none;
  }
  .share-res{
    display:flex;
  }

  #form-text{
    width: 50%;
  }

  .links{
    display: none;
  }

  .footer-img{
    padding: 100px;
  }

  .articles{
      display: flex;
      max-width: 400px;
      margin: auto;
      flex-wrap: wrap;
      justify-content: center;
  }

  #article-res{
    display: none;
  }

  .footer-menu{
      display: none;
  }
  .footer-image{
      margin-top: 100px;
  }
}