@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: rgb(98, 98, 98);
}

/* kich thuoc + bo vien */
.wrapper{
    position: relative;
    background : rgb(228, 228, 228);
    margin: 50px;
    color: black;
    width: 400px;
    border-radius: 10px;
}

/* can chinh thang-nam icon */
.wrapper header{
    display: flex;
    align-items: center;
    padding: 15px 10px;
    justify-content: space-between;
}

header .icons{
    display: flex;
  }

header .current{
    display: flex;
}
header .current-date{
    font-weight: 600;
    padding: 10px 150px 10px 10px;
    border-radius: 5px;
}
header .current-date.hide{
    visibility: hidden;
}
header .current-year{
    position: absolute;
    font-weight: 600;
    padding: 10px 226px 10px 10px;
    border-radius: 5px;
    visibility: hidden;
}
header .current-year.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
}
header .current-year.show:hover {
    background: rgb(194, 194, 194);
}


/* chinh sua icon */
header .icons span{
    height: 38px;
    width: 34px;
    margin: 0px 1px;
    text-align: center;
    line-height: 38px;
    border-radius: 5px;
    user-select: none;
    color: rgb(91, 91, 91);
}

header .icons span:hover{
    background: rgb(194, 194, 194);
}
header .current-date:hover{
    background: rgb(194, 194, 194);
}
header .current-year:hover{
    background: rgb(194, 194, 194);
}

.calendar{
    padding: 10px;
}

/* can chinh week day */
.calendar ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
    line-height: 54px;
}

.calendar .scroll{
    
}   
.calendar .days{
    margin-top: 20px;
    overflow: hidden;
    max-height: 324px;
}

/* can chinh week day: chieu rong/7 */
.calendar li{
    width: calc(100%/7);
}

.calendar .days li:hover{
    background: rgb(194, 194, 194);
    border-radius: 50%;
}

.calendar .weeks li{
    font-weight: 600;
    height: 54px;
}

.calendar .days li{
    position: relative;
    z-index: 1;
    height: 54px;
}
.calendar .months li{
    z-index: 1;
    height: 54px;
}

.days li.inactive{
    color: #aaa;
  }
.days li.active{
    color: #fff;
}

.days li::before{
    position: absolute;
    content: "";
    height: 54px;
    width: 54px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.days li:hover::before{
    background: rgb(194, 194, 194);
}

.days li.active::before{
    background: #6557e7;
  }
.days li:not(.active):hover::before{
    background: rgb(194, 194, 194);
}

.months li.inactive{
    color: #aaa;
  }
.months li.active{
    color: #fff;
}

.months li::before{
    content: "";
    height: 54px;
    width: 54px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.months li:hover::before{
    background: rgb(194, 194, 194);
}

.months li.active::before{
    background: #6557e7;
  }
.months li:not(.active):hover::before{
    background: rgb(194, 194, 194);
}


.calendar-footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-top: 0.5px solid black;
}

.calendar-footer .toggle{
  display: flex;
  align-items: center;
}

.calendar-footer .toggle div{
    padding: 5px;
}

.calendar-footer .toggle #toggle{
    font-size: 36px;
}
.calendar-footer .toggle #toggle:hover{
    cursor: pointer;
    background: rgb(194, 194, 194);
    border-radius: 50%;
}

.month-list {
    position: absolute;
    width: 100%;
    height: 90%;
    top: 15%;
    left: 0;
    background-color: rgb(228, 228, 228);
    padding: 40px;
    color: rgb(12, 11, 11);
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
    z-index: 100;
    border-radius: 20px;
}

.month-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
}
  
.month-list div{
    display: grid;
    place-items: center;
    border-radius: 100%;
}
  
.month-list div div{
    width: 100%;
    height: 64px;
    text-align: center;
    cursor: pointer;
}
  
.month-list div div:hover{
    background-color: rgb(194, 194, 194);
}

/* year-list */
.year-list{
    position: absolute;
    width: 100%;
    height: 90%;
    top: 15%;
    left: 0;
    background-color: rgb(228, 228, 228);
    padding: 40px;
    color: rgb(12, 11, 11);
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
    transform: scale(1.5);
    visibility: hidden;
    pointer-events: none;
    z-index: 100;
    border-radius: 20px;
}

.year-list.show {
    transform: scale(1);
    visibility: visible;
    pointer-events: visible;
}
  
.year-list div{
    display: grid;
    place-items: center;
    border-radius: 100%;
}
  
.year-list div div{
    width: 100%;
    height: 64px;
    text-align: center;
    cursor: pointer;
}
  
.year-list div div:hover{
    background-color: rgb(194, 194, 194);
}

