:root{
    --light-body: rgb(228, 228, 228);
    --light-text: black;
}

.dark {
    background: #4d4c5a;
    color: #f8fbff;
}

.light {
    --bg-body: var(--light-body);
    --color-txt: var(--light-text);
}

.dark-mode-switch {
    position: relative;
    width: 48px;
    height: 25px;
    border-radius: 14px;
    background-color: rgb(62, 62, 62);
    cursor: pointer;
}

.dark-mode-switch-ident {
    width: 21px;
    height: 21px;
    border-radius: 50%;
    background-color: rgb(206, 206, 206);
    position: absolute;
    top: 2px;
    left: 2px;
    transition: left 0.2s ease-in-out;
}

.dark .dark-mode-switch .dark-mode-switch-ident {
    top: 2px;
    left: calc(2px + 50%);
}