@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Space+Mono&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    height: 350px;
    background-color: #FFD900;  
}
.ver{
    padding-top: 65px;
    padding-left: 11%;

    font-family: 'Space Mono', monospace;
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}
.readme{
    padding-left: 11%;

    font-family: 'New York Extra Large';
    font-style: normal;
    text-decoration: none;
    font-weight: 700;
    font-size: 200px;
    line-height: 239px;
}

.articles{
    margin-left: 11%;
}

h2{
    margin-top: 90px;
    margin-bottom: 26px;

    font-family: 'New York Extra Large';
    font-style: normal;
    text-decoration: none;
    font-weight: 700;
    font-size: 44px;
    line-height: 53px;
}

p, a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.inline{
    border-left: 6px solid black;
    margin-bottom: 90px;
    padding-left: 29px;
    max-width: 923px;

    font-family: 'SF Pro Text';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
}

.img{
    margin-top: 50px;
    max-width: 680px;
    max-height: 50px;
}

@media only screen and (max-width: 800px) {
    html {
        min-width: 800px;
    }

    .articles{
        padding-right: 10%;
    }

    .readme{
        font-size: 175px;
    }

  }