@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body{
    margin: auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    max-width: 1000px;
}

#canvas{
    box-sizing: border-box;
    width: auto;
    background-color: rgb(255, 255, 255);
    margin: 40px auto;
    padding: 20px;
    text-decoration: none;
}

#heading{
    text-align: center;
}

/* vietnam news mau xanh :))))))) */
span{
    color: #614AD3;
}
/* nagy thang mau hong :)))))))) */
#date{
    color:#E42C64;
}

.title{
   max-width: 100%;
}

.feed{
    border: 0.5px solid gray;
    margin-bottom: 20px;
}

.feed-link{
    /* display: flex; */
    justify-content: space-between;
    align-items: center;
}

.description-link{
    font-size: 0.8rem;
    font-weight: 400;
    margin-top: 20px;

}
.description-link img{
    max-width: 100%;
    max-height: 100%;
}
.description-link a{
    font-size: 0.8rem;
}

.pubDate{
    font-size: 0.8rem;
}